.Pagination{
    &-items{
        display: inline-flex;
        align-items: center;
        list-style-type: none;
        border-radius: 4px;
        border: 1px solid var(--color-black);
        padding: 0;
        margin: 0;
    }
    &-item{
        padding: 0 7px;
        color: var(--color-black);
        transition: 0.3s all;
        font-weight: 500;
        font-size: 18px;
        width: 41px;
        height: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &__hidden{
            pointer-events: none;
            svg{
                fill: #B3B3B3;
            }
        }
        &__right, &__left{
            svg{
                pointer-events: none;
                fill:black;
            }
        }
        &__delete{
            display: none;
        }
        &:not(:last-child){
            border-right: 1px solid var(--color-black);
        }
        &:first-child{
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        &:last-child{
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        &:hover{
            background-color: #EDEDED;
        }
        &__active{
            background-color: var(--color-black);
            color: var(--color-white);
            pointer-events: none;
            &:hover{
                background-color: var(--color-black);
            }
        }
    }
}