.Spinner{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  box-shadow:0 0 20px rgba(0,0,0,.5);
  background-color: black;
  z-index: 15;
  &-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 20;
    transition: 0.3s all;
  }
  &::before{
    content:'';
    position:absolute;
    top:-3px;
    left:-3px;
    width:100%;
    height:100%;
    border:3px solid transparent;
    border-top:3px solid white;
    border-right:3px solid white;
    border-radius:50%;
    animation:animateC 2s linear infinite;
  }
  span{
    display:block;
    position:absolute;
    top:calc(50% - 2px);
    left:50%;
    width:50%;
    height:4px;
    background:transparent;
    transform-origin:left;
    animation:animate 2s linear infinite;
    &:before {
      content:'';
      position:absolute;
      width:16px;
      height:16px;
      border-radius:50%;
      background:white;
      top:-6px;
      right:-8px;
      box-shadow:0 0 20px white;
    }
  }
}

@keyframes animateC{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}
@keyframes animate{
  0%{
    transform:rotate(45deg);
  }
  100%{
    transform:rotate(405deg);
  }
}

