@import '../../style/variables.scss';
@import '../../style/media.scss';
.App {
  max-width: 75%;
  margin: 0 auto;
  padding-top: 35px;
  transition: 0.3s all;
  .main{
    padding-bottom: 150px;
  }
  @include desktop{
    max-width: 90%;
  }
  @include mini-desktop{
    max-width: calc(100% - 42px);
  }
}

