@import '../../style/variables.scss';

.Filters{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 45px);
    gap: 20px;
    &-input{
        border-radius: 8px;
        border: 1px solid #B3B3B3;
        padding: 15px;
        background-color: var(--color-white);
        transition: 0.3s all;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #B3B3B3;
        &:hover{
            outline: 1px solid var(--color-black);
        }
    }
    &-select{
        position: relative;
        transition: 0.5s all;
        height: 45px;
        overflow: hidden;
        border: 1px solid var(--color-black);
        border-radius: 8px;
        z-index: 3;
        background-color: var(--color-white); 
        &__active{
            height: 400px;
        }
        &__created{
            height: 130px;
            .Filters-header{
                outline: none;
            }
        }
    }
    &-header{
        font-size: 13px ;
        font-weight: 400;
        height: 45px;
        width: 100%;
        outline: 1px solid #B3B3B3;   
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 15px;
        transition: 0.3s all;
        span{
            color: var(--color-black);      
            font-weight: 400;
        }
        &__close{
            margin-right: 10px;
            transition: 0.3s all;
            display: none;
            &:hover{
                transform: scale(1.45);
            }
            &-active{
                display: inline;
            }
        }
        &__icons{
            img{
                transition: 0.3s all;
            }
            &-active{
                transform: rotate(180deg);
            }
        }
    }
    &-authors, &-location{
        height: 400px;
        overflow: scroll;
        &::-webkit-scrollbar {
            width: 9px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #7B7B7B;    
            border-radius: 20px;       
        }
        &::-webkit-scrollbar-track-piece:end {
            margin-bottom: 30px; 
        }
        scrollbar-color: #7B7B7B #fff;
    }
    &-list{
        list-style-type: none;
        padding: 0;
        padding-bottom: 55px;
        margin: 0;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        &__item{
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 500;
            padding: 0px 30px ;
            transition: 0.3s all;
            height: 40px;
            cursor: pointer;
            display: flex;
            align-items: center;
            &:first-child{
                margin-top: 10px;
            }
            &:hover{
                background-color: var(--color-black);
                color: var(--color-white);
            }
            &:active{
                transform: scale(0.9);
            }
        }
    }
    &-outline{
        .Filters-header{
            outline: none;
        }
    }
    &-created{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        gap: 10px;
        input{
            width: 95px;
            height: 45px;
            border-radius: 8px;
            border: none;
            font-family: 'Roboto', sans-serif;
            background-color: #EFEFEF;
            padding: 15px;
            box-sizing: border-box;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            } 
            -moz-appearance: textfield;
            &:focus{
                outline: 1px solid var(--color-black);
            }
        }
    }
}